@charset "utf-8";
/* CSS Document */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

body{
    font-family: 'Roboto', sans-serif;
    color: #3B3B3B;
    background: #fafafa;
}

.no_select {
    -webkit-tap-highlight-color: transparent;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

#header {
    display: grid;
    grid-template-rows: 1fr 1fr 1fr 50px;
    grid-template-columns: 1fr 1fr 1fr;
    justify-items: center;
    align-items: center;
    width: 100%;
    height: 650px;
    color: black;
    font-family: 'Montserrat', sans-serif;
}

.name {
    font-size: 100px;
    font-weight: bold;
    letter-spacing:0.2em;
    -webkit-text-fill-color: #fafafa;
    -webkit-text-stroke-width: 3px;
    -webkit-transform: translateX(8px) translateY(8px);
    transform: translateX(8px) translateY(8px);
    -webkit-text-stroke-color: rgb(0, 0, 0);
    text-shadow: 0px 0px #D1495B;
    padding: 1px 10px;
    animation: shadow 0.6s linear .6s normal forwards;
    
}

@keyframes shadow {
    0% {
        -webkit-transform: translateX(8px) translateY(8px);
        transform: translateX(8px) translateY(8px);
        text-shadow: 0px 0px#D1495B;
    }
    
    100% {
        text-shadow: 8px 8px #D1495B;
    }
}

.first_name {
    grid-row: 1;
    grid-column: 1/4;
    align-self: end;
}

.last_name {
    grid-row: 2;
    grid-column: 1/4;
    align-self: start;
}

.job {
    font-size: 40px;
    font-weight: bold;
    letter-spacing:0.1em;
    color: #3B3B3B;
    grid-row: 3;
    grid-column: 1/4;
    text-align: center;
}
#about {
    background-color: #048BA8;
    display: grid;
    grid-template-rows: 50px 300px auto 100px 100px;
    align-items: center;
    justify-items: center;
    position: relative;
    z-index: 20;
    clip-path: polygon(0 5vw, 100% 0, 100% calc(100% - 5vw), 0 100%);
    margin-bottom: -5vw;
}

.profile {
    width: 200px;
    grid-row: 2;
    border-radius: 50%;
}

.about_content {
    grid-row: 3;
    width: 80%;
    max-width: 650px;
    margin-bottom: 50px;
    color: #fafafa;
    font-size: 18px;
    line-height: 1.2;    
}
.contact {
    grid-row: 4;
    width: 300px;
    display: grid;
    align-items: center;
    justify-items: center;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}
.contact a {
    text-decoration: none;
    color: #fafafa;
}
.contact i{
    font-size: 50px;
    transition: all .5s;
}
.contact i:hover{
    color:#e4ff6b;
}
.cv i{
    font-size: 45px;
}
#skills {
    width: 100%;
    min-height: 700px;
    display: grid;
    grid-template-rows: 100px 100px auto 50px 100px auto 150px;
    justify-items: center;
    align-items: center;
    background-color: #fafafa;
}

#skills h2 {
    font-family: 'Montserrat', sans-serif;
    font-size: 30px;
    font-weight: bold;
    letter-spacing:0.1em;
    text-align: center;
}
.current {
    grid-row:2;
}
.progress {
    grid-row:5;
}
.skill_container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    max-width: 500px;
}
.current_skills {
    grid-row: 3;
}
.progress_skills {
    grid-row:6;
}
.skill {
    width: 170px;
 font-size: 28px;
 padding: 15px;
 text-align: center;
}
#portfolio {
    width: 100%;
    background-color: #713fa0;
    position: relative;
    z-index: 20;
    clip-path: polygon(0 0, 100% 5vw, 100% 100%, 0 calc(100% - 5vw));
    margin-top: -5vw;
    display: grid;
    align-items: center;
    justify-items:center;
    grid-template-rows: 100px 100px auto 150px;
}
.projects{
    font-family: 'Montserrat', sans-serif;
    font-size: 30px;
    font-weight: bold;
    letter-spacing:0.1em;
    color: #fafafa;
    grid-row: 2;
}
.portfolio_container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    grid-row: 3;
    max-width: 810px;
    margin: 50px 0;
}

.item {
    Width: 230px;
    height: 200px;
    background-color:#3B3B3B;
    border-radius: 8px;
    margin: 20px;
    display: grid;
    align-items: center;
    justify-items: center;
    grid-template-rows: auto 1fr;
    overflow: hidden;
}

.image{
    height: 130px;
    width: 100%;
    background-color: #fafafa;
}

.image img {
    width: 100%;
    filter: contrast(0);
    transition: all .5s;
}

.item:hover img {
    filter: contrast(1);
}

.buttons {
    height: 100%;
    width: 100%;
    display: grid;
    align-items: center;
    justify-items: center;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    font-family: 'Montserrat', sans-serif;
    background-color: #3B3B3B;
}
.button {
    display: grid;
    align-items: center;
    justify-items: center;
    text-decoration: none;
    font-size: 40px;
    color: #fafafa;
    cursor: default;
}

.button i{
    transition: all .5s;
    cursor: pointer;
}
.button i:hover{
    color:#e4ff6b;
}
.site {
    font-size: 35px;
}

#footer {
height: 100px;
display: grid;
margin-top: -5vw;
}
#footer img {
    height: 50%;
    margin-left: 20px;
    align-self: center;
}




@media screen and (max-width: 850px) {
   .job {
        font-size: 37px;
    }
}

@media screen and (max-width: 770px) {
    .job {
        font-size: 33px;
    }
}   
@media screen and (max-width: 500px) {
    .job {
        font-size: 28px;
    }
    .name {
        font-size: 65px;
        -webkit-text-stroke-width: 2px;
        -webkit-transform: translateX(6px) translateY(6px);
        transform: translateX(6px) translateY(6px);
        -webkit-text-stroke-color: rgb(0, 0, 0);
        text-shadow: 0px 0px rgb(184, 37, 37);
    }
    
    @keyframes shadow {
        0% {
            -webkit-transform: translateX(6px) translateY(6px);
            transform: translateX(6px) translateY(6px);
            text-shadow: 0px 0px rgb(184, 37, 37);
        }
        
        100% {
            text-shadow: 6px 6px rgb(184, 37, 37);
        }
    }
    
}
@media screen and (max-width: 450px) {
    #header {
        height:90vh;
    }
    .job {
        font-size: 25px;
        max-width: 80%;
    }
    .name {
        font-size: 60px;
        -webkit-text-stroke-width: 2px;
        -webkit-transform: translateX(6px) translateY(6px);
        transform: translateX(6px) translateY(6px);
        -webkit-text-stroke-color: rgb(0, 0, 0);
        text-shadow: 0px 0px rgb(184, 37, 37);
    }
    
    @keyframes shadow {
        0% {
            -webkit-transform: translateX(6px) translateY(6px);
            transform: translateX(6px) translateY(6px);
            text-shadow: 0px 0px rgb(184, 37, 37);
        }
        
        100% {
            text-shadow: 6px 6px rgb(184, 37, 37);
        }
    }
    .about_content {
        font-size: 16px;
        line-height: 1.2;    
    }
    #skills {
        grid-template-rows: 80px 100px auto 50px 100px auto 100px;
    }

    #portfolio {
        grid-template-rows: 80px 100px auto 50px;
    }
    .item:hover img {
        filter: contrast(0);
    }
    .contact i:hover{
        color:#fafafa;
    }
}
